*.png
*.gif
.*
*.pdf
*.out
plots/
lib/DHidasPLT.so
python/plots
python/*.png
MyGainCal.dat
*.root
*~
tracking.cbp
tracking.cbp.save
tracking.layout*
*.save
crashlog.txt
get_rootfile.sh
lib/
*.bak
Vector*
my*
NewAlignment.dat
build/
*.exe
TrackingTelescope
cmake-build-relwithdebinfo
